@{
  Layout = "_Layout";
}
<div class="well">
<h1>Deep Space Hair Salon</h1>
<h3>Stylists:</h3>
@foreach(var Stylist in Model)
{
  <ul>
  <li><a href="/stylists/@Stylist.Id">@Stylist.Name</a></li>
  </ul>
}
<a href='/stylists/add'>Add a new Stylist</a>
</div>
