@using HairSalon.Models;
@{
  Layout = "_Layout";
}
<div class="well">
<h1>Stylist Info:</h1>
<h2>Name: @Model["stylist"].Name</h2>
<h2>Clients:</h2>

@{
  foreach(var client in Model["clients"])
  {
    <h3> @client.Name </h3>
    <p><a href="/stylists/@Model["stylist"]/clients/@Model["clients"]/update">Update</a></p>
    <p><a href="/stylists/clients/delete/success">Delete</a></p>
  }
}

<ul>
<li><a href="/stylists/@Model["stylist"].Id/clients/new">Add another client</a></li>
<li><a href="/">Home</a></li>
</ul>
