@using HairSalon.Models;
@{
  Layout = "_Layout";
}
<div class="well">
<h1>Stylist Info:</h1>
<ul>
<li>Name: @Model["stylist"].Name</li>
</ul>
<h2>Clients:</h2>

@{
  foreach(var client in Model["client"])
  {
    <p>@client.Name</p>
  }
}

<h2>Add a new Client:</h2>
<form action="/stylists/{stylistId}/clients/add" method="post">
  <div class="form-group">
    <label for="client-name">Name:</label>
    <input class="form-control" id="client-name" name="client-name" type="text" required>
  </div>
  <button class="btn btn-danger" type="submit" name="submit-button">Add</button>
</form>
</div>
